/* import Fonts from File */
@import url(./fonts.css); 

* {
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../../images/houses.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    box-sizing: content-box;
    font-size: 100%;
    vertical-align: baseline;
    border: none;
}

section.container.login {
    position: relative;
    top: 120px;
    text-align: center;
    margin: auto;
}

button.land-button {
    outline: none;
    margin: 5px;
    padding: 10px;
    width: 200px;
    background: transparent;
    border: 2px solid;
    border-radius: 15px;
    color: #FFF600;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    transition: 1s;
    font-size: 15px;
}

button.land-button:hover {
    box-shadow: 0.5px 0.5px 10px 1px #FFF600;
    cursor: pointer;
}

h1.site-title {
    font-size: 5rem;
    color: white;
    font-family: 'times new roman';
}


h3.title {
    font-size: 50px;
    font-weight: 500;
    color: #F5F5F5;
    font-family: 'times new roman';
    text-transform: uppercase;
    padding: 20px;
}

span {
    color: #FFF600;
}

a.login-links {
    color: #FFF600;
    text-decoration: none;
}

p.land-p {
    color: #F5F5F5;
}

p.copyright {
    font-size: 12px;
    color: white;
    margin-top: 20px;
}

.error {
    margin: 5px;
    padding: 10px;
    border: 1px solid #c90000;
    ;
    color: #c90000;
    background: #f2dede;
    border-radius: 5px;
    text-align: center;
}

.success {
    width: 100px;
    margin: 5px;
    padding: 10px;
    color: green;
    background: #dff0d8;
    border: 1px solid green;
    border-radius: 5px;
    text-align: center;
}
